[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
anchor = "DbzvMaPVGPJrGW2t16dn6sgu8rnnpXZLNiqhtZ61rUFz"

[programs.devnet]
anchor = "DbzvMaPVGPJrGW2t16dn6sgu8rnnpXZLNiqhtZ61rUFz"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
